// imports
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@font-face {
    font-family: "Manrope-Bold";
    src: url("./fonts/manrope/Manrope-Bold.woff2") format("woff2"),
        url("./fonts//manrope/Manrope-ExtraBold.woff") format("woff");
}

// color palette
$white: #f1f3f8;
$light-blue-test: #e2f3ff;
$light-blue: #d6e0f0;
$blue: #8d93ab;
$dark-blue: #393b44;

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background: $light-blue-test;
    overflow-y: scroll;
    --divider: #343434;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

p {
    font-size: 20px;
    line-height: 28px;
}

h1 {
    font-weight: bold;
    color: white;
    margin: 6px 0 12px;
}

h2 {
    color: #fff;
    margin: 8px 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.screen {
    width: 100%;
    height: 100%;
}

.social-icon {
    color: #8d93ab;
    width: 60%;
    height: auto;
    &:hover {
        cursor: pointer;
    }
}

.close-button {
    height: auto;
    background: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 200;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.page-container {
    width: 100vw;
    height: auto;
}

.item-container {
    width: 100vw;
    height: auto;
    display: absolute;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 75px 0;
}

.card {
    position: relative;
    padding: 25px;
    height: 560px;
    flex: 0 0 40%;
    max-width: 40%;
}

.card:nth-child(odd) {
    padding-left: 0;
}

.card:nth-child(even) {
    padding-right: 0;
}

.card-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.card-content-container.open {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    position: absolute;
    padding: 40px 0;
}

.card-content {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.open .card-content {
    height: auto;
    max-width: 900px;
}

// * Images
.project-img {
    height: 500px;
    width: auto;
    max-width: 100%;
    align-self: top;
    object-fit: contain;
}

.closed.card-image-container {
    position: absolute;
    display: flex;
    bottom: 0;
    overflow: hidden;
    height: 250px;
    width: 100%;
    justify-content: center;
    color: white;
}

.open.card-image-container {
    position: relative;
    top: 200px;
    left: 55%;
    width: 100%;
    display: flex;
}

.open .title-container {
    right: -50%;
    top: 5%;
    left: 10%;
}

.title-container {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 100%;
}

.category {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.date,
.url {
    display: block;
    color: white;
}

.url {
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}

.title,
.category {
    max-width: 180px;
}

.card-summary {
    color: #fff;
    font-size: 12px;
    line-height: 0.2;
}

.summary-container {
    max-width: 320px;
    display: block;
}

.overlay {
    background: $white;
    position: fixed;
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.content-container {
    padding: 250px 35px 100px;
    max-width: 700px;
    width: 100vw;
    margin: 0 auto;
    height: auto;
}

.precordings.content-container {
    padding: 550px 35px 100px;
}

@media only screen and (max-width: 800px) {
    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        flex: 1 0 100%;
        max-width: 100%;
        padding: 20px;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .card-content-container.open {
        padding: 0;
        height: auto;
    }

    .nav-container {
        justify-content: center;
        align-items: center;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
