// imports
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

// color palette
$white: #f1f3f8;
$light-blue: #d6e0f0;
$blue: #8d93ab;
$dark-blue: #393b44;

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background: #f4fcff;
    overflow-y: scroll;
    --secondary: rgb(161, 161, 161);
    --divider: #343434;
}

body.selected-project {
    overflow: hidden;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
}

p {
    color: #9d9ca1;
    font-size: 20px;
    line-height: 28px;
}

h1 {
    font-weight: bold;
    color: white;
    margin: 6px 0 12px;
}

h2 {
    color: #fff;
    margin: 8px 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.screen {
    width: 100%;
    height: 100%;
}

.social-icon {
    color: #8d93ab;
    width: 5vmin;
    height: 5vmin;
    &:hover {
        cursor: pointer;
    }
}

.container {
    max-width: 990px;
    flex: 1 1 100%;
    padding: 45px 25px;
}

.item-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: absolute;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    padding: 25px;
    height: 460px;
    flex: 0 0 40%;
    max-width: 40%;
}

.card:nth-child(odd) {
    padding-left: 0;
}

.card:nth-child(even) {
    padding-right: 0;
}

.card-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    pointer-events: none;
}

.card-content-container.open {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: 100;
    padding: 40px 0;
}

.card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 20px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.open .card-content {
    height: 1000px;
    max-width: 900px;
    overflow-y: scroll;
    pointer-events: none;
}

.card-open-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 200px;
    width: 100vw;
}

.open .card-image-container,
.open .title-container {
    z-index: 100;
    top: 0;
}

.title-container {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 300px;
}

.open .title-container {
    top: 30px;
    left: 30px;
}

.category {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.card-summary {
    color: #fff;
    font-size: 12px;
    line-height: 0.2;
}

.overlay {
    z-index: 99;
    background: #d6e0f0;
    position: fixed;
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.content-container {
    padding: 460px 35px 35px 35px;
    max-width: 700px;
    width: 90vw;
}

@media only screen and (max-width: 800px) {
    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        flex: 1 0 100%;
        max-width: 100%;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .card-content-container.open {
        padding: 0;
    }

    .nav-container {
        justify-content: center;
        align-items: center;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
